<?php

return \PhpCsFixer\Config::create()
    ->setFinder(
        \Symfony\Component\Finder\Finder::create()
            ->files()
            ->name('*.php')
            ->in('.')
            ->exclude('vendor')
    )
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
    ]);